version: '3.8'

services:
  builder:
    build: .
    image: garmin-watchface-builder
    volumes:
      - .:/workspace
    working_dir: /workspace
    command: /bin/bash
    stdin_open: true
    tty: true
