<?xml version="1.0" encoding="utf-8"?>
<!--
    Connect IQ Settings for GMT World Time Watchface
    These settings appear in Garmin Connect Mobile app
-->
<settings>
    <!-- City 1 Settings (Top Left) -->
    <setting propertyKey="@Properties.City1Label" title="@Strings.City1LabelTitle">
        <settingConfig type="alphaNumeric" maxLength="3" />
    </setting>
    <setting propertyKey="@Properties.City1Offset" title="@Strings.City1OffsetTitle">
        <settingConfig type="numeric" min="-12" max="14" />
    </setting>
    <setting propertyKey="@Properties.City1DST" title="@Strings.City1DSTTitle">
        <settingConfig type="boolean" />
    </setting>

    <!-- City 2 Settings (Top Right) -->
    <setting propertyKey="@Properties.City2Label" title="@Strings.City2LabelTitle">
        <settingConfig type="alphaNumeric" maxLength="3" />
    </setting>
    <setting propertyKey="@Properties.City2Offset" title="@Strings.City2OffsetTitle">
        <settingConfig type="numeric" min="-12" max="14" />
    </setting>
    <setting propertyKey="@Properties.City2DST" title="@Strings.City2DSTTitle">
        <settingConfig type="boolean" />
    </setting>

    <!-- City 3 Settings (Bottom Left) -->
    <setting propertyKey="@Properties.City3Label" title="@Strings.City3LabelTitle">
        <settingConfig type="alphaNumeric" maxLength="3" />
    </setting>
    <setting propertyKey="@Properties.City3Offset" title="@Strings.City3OffsetTitle">
        <settingConfig type="numeric" min="-12" max="14" />
    </setting>
    <setting propertyKey="@Properties.City3DST" title="@Strings.City3DSTTitle">
        <settingConfig type="boolean" />
    </setting>

    <!-- City 4 Settings (Bottom Right) -->
    <setting propertyKey="@Properties.City4Label" title="@Strings.City4LabelTitle">
        <settingConfig type="alphaNumeric" maxLength="3" />
    </setting>
    <setting propertyKey="@Properties.City4Offset" title="@Strings.City4OffsetTitle">
        <settingConfig type="numeric" min="-12" max="14" />
    </setting>
    <setting propertyKey="@Properties.City4DST" title="@Strings.City4DSTTitle">
        <settingConfig type="boolean" />
    </setting>
</settings>
